<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Обеды в Офис</title>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="assets/css/menu.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>
        <script src="https://apis.google.com/js/plus.js"></script>
        <script src="assets/js/app.js"></script>
    </head>
    <body ng-app="OldCityMenu">
        <div class="container-fluid" ng-controller="WeekMenuCtrl">
            <!-- Define controller for body. In this example we use only one controller for the scope of entire body. --><!-- Place a span that is going to act as a container for button rendering through script code. -->
            <span id="googleSignIn" ng-hide="auth.signedIn">
                <span id="signInButton">
                </span>
            </span>
            <span ng-show="auth.signedIn">
                Logged in as {{auth.profile.emails[0].value}}
            </span>

            <!-- Don't forget to place the script that does the asynchronous loading of Google+ JavaScript API.
                 Because it is loaded asynchronously, it might take some time to load.
                 Place some loading notification, so user won't get confused.
                 You can use ng-show and ng-hide to show or hide your notification and accomplish best user experience. --><script>// <![CDATA[
                (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/client:platform.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();

    // ]]></script><!-- Second script needed for accessing Google API (gapi.*) . It's usage will be described in controller. --><script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>


            <div class="row">
                <accordion class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12"
                        close-others="true">
                    <accordion-group class="menu" is-open="dayItems.isOpen" ng-repeat="dayItems in weekItems">
                        <accordion-heading>
                            {{dayItems.day}} <small>{{dayItems.date}}</small>
                        </accordion-heading>
                        <div class="col-12 price-list" ng-repeat="price in menuPrices">
                            <h2 class="bg-warning">
                                <button type="button" class="btn btn-success btn-sm" aria-label="Plus"><span class="glyphicon glyphicon-plus"></span></button>
                                </button> {{price}} <small>₴</small>
                                <button type="button" class="btn btn-danger btn-sm" aria-label="Minus"><span class="glyphicon glyphicon-minus"></span></button>
                                </h2>
                                <!-- <input type="number" min="0" max="100" ng-model="dayItems.menu[$index].ordered" maxlength="2" style="width:50px;" required> -->
                            <ol class="text-info">
                                <li ng-repeat="itemId in dayItems.menu[$index].items track by $index">
                                    {{menuItems[$index][itemId]}}
                                    <div class="btn-group pull-right" dropdown is-open="status.isopen">
                                      <button type="button" class="btn btn-primary btn-xs dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                        Button dropdown <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li><a href="#">Separated link</a></li>
                                      </ul>
                                    </div>
                                </li>
                            </ol>
                        </div>
                        <p class="pull-left bg-info bg-success">2 x 28 + 1 x 30 = 86 ₴</p>
                        <p class="pull-left bg-success">Ваш заказ принят</p>
                        <button type="button" class="btn btn-primary pull-right">Заказать</button>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </body>
</html>
