<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Обеды в Офис</title>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="assets/css/menu.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>
        <script src="https://apis.google.com/js/plus.js"></script>
        <script src="assets/js/app.js"></script>
    </head>
    <body ng-app="OldCityMenu">
        <div class="container-fluid" ng-controller="WeekMenuCtrl">
            <div class="center-block"  ng-hide="auth.signedIn">
                <p>Хочешь кушать?</p>
                <span id="googleSignIn" ng-hide="auth.signedIn">
                    <span id="signInButton">
                    </span>
                </span>
                <script>// <![CDATA[
                    (function() {
                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                        po.src = 'https://apis.google.com/js/client:platform.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                    })();

                // ]]></script>
                <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
            </div>
            <div class="row" ng-show="auth.signedIn">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                    <div class="btn-group pull-left weeks" role="group" aria-label="...">
                      <a href="#?admin=1" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                      </a>
                      <a href="#?admin=1&shiftWeeks=1" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      </a>
                      <a href="#" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                      </a>                      
                    </div>
                    <h4 class="bg-success pull-right user">
                        <img ng-src="{{auth.profile.image.url}}" class="img-rounded" alt="{{auth.profile.displayName}}"/>
                        Привет, <a href="mailto:{{auth.profile.emails[0].value}}">{{auth.profile.displayName}}</a>
                    </h4>
                </div>
            </div>
            <div class="row" ng-show="auth.signedIn">
                <accordion class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12"
                        close-others="true">
                    <accordion-group class="menu" is-open="dayItems.isOpen" ng-repeat="dayItems in weekItems">
                        <accordion-heading>
                            {{dayItems.day}} <small>{{dayItems.dateStr}}</small>
                        </accordion-heading>
                        <div class="col-12 price-list" ng-repeat="dayMenuItem in dayItems.menu">
                            <h2 class="bg-warning">
                                <a href="#" role="button" class="btn btn-success btn-sm" aria-label="Plus"
                                        ng-click="dayMenuItem.order.quantity = dayMenuItem.order.quantity + 1; dayItems.orderSaved = false; dayMenuItem.order.processedById = null;"
                                        ng-class="{disabled:dayMenuItem.order.quantity > 99}"
                                ><span class="glyphicon glyphicon-plus"></span></a>
                                {{menuPrices[$index]}} <small>₴</small>
                                <a href="#" role="button"class="btn btn-danger btn-sm" aria-label="Minus"
                                   ng-click="dayMenuItem.order.quantity = dayMenuItem.order.quantity - 1; dayItems.orderSaved = false; dayMenuItem.order.processedById = null;"
                                   ng-class="{disabled:dayMenuItem.order.quantity < 1}"
                                ><span class="glyphicon glyphicon-minus"></span></a>
                                </h2>
                            <ol class="text-info">
                                <li ng-repeat="item in dayMenuItem.items track by $index">
                                    {{menuItems[$index][item.itemId]}}
                                    <div class="btn-group pull-right" dropdown is-open="status.isopen" ng-show="adminMode">
                                      <button type="button" class="btn btn-default btn-xs dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                        Изменить <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li ng-repeat="menuItem in menuItems[$index] track by $index">
                                            <a href="#" ng-click="dayMenuItem.items[$parent.$index].itemId = $index; saveDayMenu(dayMenuItem.items[$parent.$index].id, dayItems.date, $parent.$index, dayMenuItem.priceId, $index);">{{menuItem}}</a>
                                        </li>
                                      </ul>
                                    </div>
                                </li>
                            </ol>
                        </div>
                        <div ng-show="getDayOrderCost(dayItems) > 0 || !dayItems.orderSaved" class="clearfix">
                            <span ng-show="getDayOrderCost(dayItems) >0">
                                <p class="pull-left bg-info bg-success">{{getDayOrderString(dayItems)}} =
                                    {{getDayOrderCost(dayItems)}} ₴</p>
                            </span>
                            <span ng-hide="getDayOrderCost(dayItems) >0">
                                <p class="pull-left bg-info bg-success">Остаться без обеда</p>
                            </span>
                            <p class="pull-left bg-success" ng-show="dayItems.orderSaved">Ваш заказ принят</p>
                            <p class="pull-left bg-success" ng-show="">Ваш заказ обработан</p>
                            <button type="button" class="btn btn-primary pull-right" ng-show="getDayOrderCost(dayItems) >0 && !dayItems.orderSaved" ng-click="updateOrder(dayItems)">Заказать</button>
                            <button type="button" class="btn btn-primary pull-right" ng-hide="getDayOrderCost(dayItems) >0 || dayItems.orderSaved" ng-click="updateOrder(dayItems)">Увы, но да</button>
                        </div>
                        <div ng-show="getTotalDayOrderCost(dayItems.orders)>0" class="clearfix">
                            <accordion>
                                <accordion-group is-open="false">
                                    <accordion-heading>
                                        <span class="clearfix">
                                            <span class="pull-left">Все заказы</span>
                                            <span class="pull-right">Сумма {{getTotalDayOrderString(dayItems.orders)}} = {{getTotalDayOrderCost(dayItems.orders)}} ₴</span>
                                        </span>
                                    </accordion-heading>
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                              <th>#</th>
                                              <th>Заказал</th>
                                              <th>К оплате</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="(userId, userOrders) in dayItems.orders">
                                                <td>{{$index+1}}</td>
                                                <td><g-user-info g-id="{{userId}}"></g-user-info></td>
                                                <td>{{getOrderString(userOrders.orders)}} = {{getUserOrderCost(userOrders.orders)}} ₴</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </accordion-group>
                            </accordion>
                        </div>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </body>
</html>
