body {
	font: 18px 'Ubuntu Condensed', sans-serif;
	padding: 10px;
	background: #1e82c0 url('../img/bg.jpg') fixed
}

.price-list h2 {
	margin: 0 0 10px;
	padding: 5px;
}

ol li{
	text-align: left;
	border-bottom: 1px #ddd dotted;
	padding: 4px 0;
}

ol li ul li{
	padding: 0;
}

ol li:last-child{
	border: none;
}

.menu p{
	padding: 7px 20px;
}