body {
	font: 18px 'Ubuntu Condensed', sans-serif;
	background: rgba(236, 240, 241,1.0);
}

h2 {
	padding: 20px;
	margin: 0 -15px;
}

.menu {
	background: rgba(255,255,255,1);
}

.price-list h2 {
	margin: 0 -30px 10px;
	padding: 5px 25px;
}

ol{
	margin: 0 -25px;
	padding-bottom: 20px
}

ol li{
	text-align: left;
	border-bottom: 1px #ddd dotted;
	margin-right: 25px;
	padding: 4px 0;
}

ol li:last-child{
	border: none;
}